<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/htmlhead}" />
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<th:block layout:replace="~{fragments/navigation}" />
		<th:block layout:replace="~{fragments/aside}" />
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<th:block layout:insert="~{fragments/pagetitle}" />
					<div class="card card-primary card-outline">
						<div class="card-header">
							<h3 class="card-title">
								<i class="fas fa-chalkboard-teacher"></i> 
								<span th:text=" ${#strings.capitalizeWords(evento)}"></span>  
							</h3>
						</div>
						<div class="card-body">
							<th:block layout:fragment="content" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:replace="~{fragments/body_scripts :: end}" />
	<th:block layout:fragment="body_end" />
</body>
</html>