<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>login</title>
</head>
<body>
  <form th:action="@{/perform_login}" method="post" >
      <div th:if="${message != null}">
       	<h2 th:text="${message}">Error</h2>
      </div>
     
      <table>
         <tr>
            <td><label>Nombre: </label></td>
            <td><input type="text" name="username" /></td>
         </tr>
         <tr>
            <td><label>Contrasena: </label></td>
            <td><input type="password" name="password" /></td>
         </tr>
          <tr>
            <td colspan="2">
             <button type="submit">Login</button>
            </td>
         </tr>
      </table>
  </form>

</body>
</html>