<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="ISO-8859-1" >
<title>Error500</title>

 <link rel="stylesheet" th:href="@{~/gestion-cmc/resources/gestion-cmc/css/error.css}">
   <link rel="stylesheet" th:href="@{~/gestion-cmc/resources/admin-lte/css/adminlte.css}">
   <link rel="stylesheet" th:href="@{~/gestion-cmc/resources/plugins/fontawesome/css/all.min.css}">
</head>
<body>
  <div class="grid-error">
  <div >
 	<img th:src="@{~/gestion-cmc/resources/gestion-cmc/img/error500.jpg}"class="error-img">
  </div>
  <div>
 <section class="content">
 		<div class="row" style="margin-right:inherit">
      <div class="error-page" >
        <h2 class="texto-error-505"> 500</h2>
         </div>
        <div class="error-content" style="margin-left: 104px">
          <h3><i class="fas fa-exclamation-circle text-warning"></i> Ups! Algo sali&oacute; mal.</h3>
          <p>
           Trabajaremos para solucionarlo de inmediato.
          </p>
          <br>
          <div style="text-align: end">
          <a th:href="@{/home}" class="btn boton-error500"> Regresar</a>
          </div>
          </div>

       
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
  
  </div>
  
  </div>
</body>
</html>