<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Candidatos'">
<th:block layout:fragment="content">

<!-- Mensajes -->
<a type="button"
	 th:href="@{/administracion/candidato/crearcandidato}" class="btn btn-primary  ">  Crear Candidato
	</a>
	
 <table id="tablaCandidato" class="table table-bordered table-hover ">
     	<thead>
        	<tr>
            	
            	<th>Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Tel&eacute;fono</th>
                
                <th width="70px">Acciones</th>
            </tr>
        </thead>
        <tbody>
         	<tr th:each="empleado : ${listaEmpleados}">
         		
         		<td th:utext="${empleado.documento}">documento</td>
         		<td th:utext="${empleado.primerNombre} +' '+ ${empleado.segundoNombre}">nombres</td>
         		<td th:utext="${empleado.primerApellido} +' ' +${empleado.segundoApellido}">apellidos</td>
         		<td th:utext="${empleado.correoElectronico}">correo</td>
         		<td th:utext="${empleado.telefono}">telefono</td>
         		
         		<td>
         			<a type="button" class="btn btn-primary"> <i class="fas fa-pen"></i>
				</a>
				<a type="button" class="btn btn-primary  "> <i class="fas fa-trash"></i>
				</a>
         		</td>
         	</tr>
        </tbody>
     </table> 
 </th:block>
 <th:block layout:fragment="body_end">
    <script type="text/javascript">
    $('#tablaCandidato').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    </script>
</th:block>
 </html> 