<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}" th:with="evento='Crear candidato'">
<th:block layout:fragment="content">
	<form id="formCrearCandidato" th:object="${candidato}"
		th:action="@{/administracion/candidato/crear}" method="POST">
		<div class="row">
			<div class="col-md-12">
				<div class="card-body p-0">
					<div th:if="${#fields.hasErrors('*')}"
						class="alert alert-danger alert-dismissible">
						<button type="button" class="close"
							onclick="closeAlert('alert-danger')" aria-hidden="true">&times;</button>
						<i class="icon fas fa-ban"></i> Error!
						<ul style="margin-top: 0px; margin-bottom: 0px;">
							<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
						</ul>
					</div>
					<div id="messageBox1" class="alert alert-danger alert-dismissible"
						style="display: none">
						<button type="button" class="close"
							onclick="closeAlert('alert-danger')" aria-hidden="true">&times;</button>
						<i class="icon fas fa-ban"></i> Error!
						<ul style="margin-top: 0px; margin-bottom: 0px;"></ul>
					</div>
					<div class="bs-stepper">
						<div class="bs-stepper-header" role="tablist">
							<!-- your steps here -->
							<div class="step" data-target="#basica">
								<button type="button" class="step-trigger" role="tab"
									aria-controls="basica" id="basica-trigger">
									<span class="bs-stepper-circle">1</span> <span
										class="bs-stepper-label"
										th:text="#{administracion.candidato.informacionbasica}">Informaci&oacute;n
										B&aacute;sica</span>
								</button>
							</div>
							<div class="line"></div>
							<div class="step" data-target="#pro">
								<button type="button" class="step-trigger" role="tab"
									aria-controls="pro" id="pro-trigger">
									<span class="bs-stepper-circle">2</span> <span
										class="bs-stepper-label"
										th:text="#{administracion.candidato.informacionprofesional}">Informaci&oacute;n
										Profesional</span>
								</button>
							</div>
							<div class="line"></div>
							<div class="step" data-target="#laboral">
								<button type="button" class="step-trigger" role="tab"
									aria-controls="laboral" id="laboral-trigger">
									<span class="bs-stepper-circle">3</span> <span
										class="bs-stepper-label"
										th:text="#{administracion.candidato.informacionlaboral}">Informaci&oacute;n
										Laboral</span>
								</button>
							</div>
							<div class="line"></div>
							<div class="step" data-target="#propuesta">
								<button type="button" class="step-trigger" role="tab"
									aria-controls="propuesta" id="propuesta-trigger">
									<span class="bs-stepper-circle">4</span> <span
										class="bs-stepper-label"
										th:text="#{administracion.candidato.informacionpropuesta}">Informaci&oacute;n
										de Propuesta</span>
								</button>
							</div>
						</div>
						<div class="bs-stepper-content"></div>
						<!-- /.card-header -->

						<div id="basica" class="content" role="tabpanel"
							aria-labelledby="basica-trigger">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group col-sm-10">
											<label for="tipoDocumento"
												th:text="#{administracion.candidato.tipodocumento}">Tipo
												documento</label> <select th:field="*{tipoDocumento}"
												id="tipoDocumento" name="tipoDocumento" class="form-control">
												<option value="" selected="selected">Tipo</option>
												<option
													th:each="tipoDoc : ${T(com.cmc.gestion.talento.jpa.type.TipoDocumento).values()}"
													th:value="${tipoDoc}" th:text="${tipoDoc.value}"></option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group col-sm-10">
											<label for="documento"
												th:text="#{administracion.candidato.documento}">Documento</label>
											<input id="documento" name="documento"
												th:field="*{documento}" type="text" class="form-control"
												th:placeholder="#{administracion.candidato.edocumento}">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<!-- text input -->
										<div class="form-group col-sm-10">
											<label for="primerNombre"
												th:text="#{administracion.candidato.primern}">Primer
												Nombre</label> <input id="primerNombre" name="nombre1"
												th:field="*{primerNombre}" type="text" class="form-control"
												th:placeholder="#{administracion.candidato.epnombre}">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group col-sm-10">
											<label for="nombre2"
												th:text="#{administracion.candidato.segundon}">Segundo
												Nombre</label> <input name="nombre2" id="nombre2"
												th:field="*{segundoNombre}" type="text" class="form-control"
												th:placeholder="#{administracion.candidato.esnombre}">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<!-- text input -->
										<div class="form-group col-sm-10">
											<label for="apellido1"
												th:text="#{administracion.candidato.primera}">Primer
												Apellido</label> <input id="apellido1" name="apellido1"
												th:field="*{primerApellido}" type="text"
												class="form-control"
												th:placeholder="#{administracion.candidato.epapellido}">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group col-sm-10">
											<label for="apellido2"
												th:text="#{administracion.candidato.segundoa}">Segundo
												Apellido</label> <input id="apellido2" name="apellido2"
												th:field="*{segundoApellido}" type="text"
												class="form-control"
												th:placeholder="#{administracion.candidato.esapellido}">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<!-- text input -->
										<div class="form-group col-sm-10">
											<label for="telefono"
												th:text="#{administracion.candidato.telefono}">Tel&eacute;fono</label>
											<input id="telefono" name="telefono" th:field="*{telefono}"
												type="text" class="form-control"
												th:placeholder="#{administracion.candidato.etelefono}">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group col-sm-10">
											<label for="correo"
												th:text="#{administracion.candidato.correoelectronico}">Correo
												Electr&oacute;nico</label> <input name="correo" id="correo"
												type="text" th:field="*{correoElectronico}"
												class="form-control"
												th:placeholder="#{administracion.candidato.ecorreo}">
										</div>
									</div>
								</div>
							</div>
							<button class="btn btn-primary" type="button"
								th:text="#{administracion.candidato.siguiente}"
								onclick="validacionFormulario()">Siguiente</button>
						</div>
						<!-- Step informacion profesional -->
						<div id="pro" class="content" role="tabpanel"
							aria-labelledby="pro-trigger">
							<div class="col-sm-6">
								<!-- text input -->
								<div class="form-group">
									<div class="form-group">
										<label th:text="#{administracion.candidato.titulouni}"
											for="titulo">T&iacute;tulo Universitario</label> <input
											type="text" name="titulo" th:field="*{tituloProfesional}"
											class="form-control" id="titulo"
											th:placeholder="#{administracion.candidato.etitulo}">
									</div>
								</div>
							</div>
							<!-- textarea -->
							<div class="form-group">
								<label for="objetivo"
									th:text="#{administracion.candidato.objetivos}">Objetivos</label>
								<textarea id="objetivo" class="form-control" name="objetivo"
									th:field="*{objetivos}"
									th:placeholder="#{administracion.candidato.eobjetivos}"></textarea>
							</div>

							<button class="btn btn-primary" type="button"
								th:text="#{administracion.candidato.atras}"
								onclick="stepper.previous()">Anterior</button>
							<button class="btn btn-primary" type="button"
								th:text="#{administracion.candidato.siguiente}"
								onclick="validacionFormulario()">Siguiente</button>
						</div>
						<!-- Step informacion laboral -->
						<div id="laboral" class="content" role="tabpanel"
							aria-labelledby="laboral-trigger">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group col-sm-10">
										<label for="trabajo">Trabaja actualmente</label> <select
											id="trabajo" name="trabajoActual" th:field="*{trabajoActual}"
											class="form-control">
											<option value="null" selected="selected">...</option>
											<option value="si">Si</option>
											<option value="no">No</option>

										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group col-sm-10">
										<label for="contrato"
											th:text="#{administracion.candidato.tipocontrato}">Que
											tipo de contrato posee</label> <select id="contrato" name="contrato" th:field="*{tipoContrato}"
											class="form-control">
											<option value="" selected="selected">Tipo</option>
											<option
												th:each="tipoContr : ${T(com.cmc.gestion.talento.jpa.type.TipoContrato).values()}"
												th:value="${tipoContr}" th:text="${tipoContr.value}"></option>

										</select>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group col-sm-10">
										<label for="origen"
											th:text="#{administracion.candidato.origen}">Origen
											de la hoja de vida</label> <select id="origen" name="origen"
											th:field="*{origenHoja}" class="form-control">
											<option th:text="#{administracion.candidato.seleccione}"
												value="" selected="selected">...</option>
											<option value="el empleo">El empleo</option>
											<option value="linkedin">Linkedin</option>
											<option value="ticjob">Ticjob</option>
											<option
												th:text="#{administracion.candidato.correoelectronico}"
												value="correo electronico">Correo
												electr&oacute;nico</option>
											<option th:text="#{administracion.candidato.otro}"
												value="otro">Otro</option>

										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group col-sm-10">
										<label for="sueldo"
											th:text="#{administracion.candidato.sueldoactual}">Sueldo
											actual</label> <input id="sueldo" type="text" name="sueldoActual"
											th:field="*{salarioActual}" class="form-control"
											th:placeholder="#{administracion.candidato.esueldo}">
									</div>
								</div>
							</div>
							<button class="btn btn-primary" type="button"
								th:text="#{administracion.candidato.atras}"
								onclick="stepper.previous()">Anterior</button>

							<button class="btn btn-primary" type="button"
								th:text="#{administracion.candidato.siguiente}"
								onclick="validacionFormulario()">Siguiente</button>

						</div>
						<!-- Step propuesta -->
						<div id="propuesta" class="content" role="tabpanel"
							aria-labelledby="Propuesta-trigger">
							<div class="row">
								<div class="col-sm-6">
									<!-- text input -->
									<div class="form-group  col-sm-10">
										<label for="aspiracion"
											th:text="#{administracion.candidato.aspiracion}">Aspiraci&oacute;n
											salarial</label> <input id="aspiracion" type="text" name="aspiracion"
											th:field="*{aspiracionSalarial}" class="form-control"
											th:placeholder="#{administracion.candidato.easpiracion}">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group col-sm-10">
										<label for="disponibilidad">Disponibilidad</label> <select
											id="disponibilidad" name="disponibilidad"
											th:field="*{disponibilidad}" class="form-control">
											<option value=selected="selected">...</option>
											<option value="1">1 Dia</option>
											<option value="3">3 Dias</option>
											<option value="5">5 Dias</option>
											<option value="7">7 Dias</option>
											<option value="15">Mas de 15 dias</option>

										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group col-sm-10">
										<label for="horario"
											th:text="#{administracion.candidato.horario}">Horario
											flexible</label> <select id="horario" name="horario"
											th:field="*{salarioFlexible}" class="form-control">
											<option value=""
												th:text="#{administracion.candidato.seleccione}"
												selected="selected">...</option>
											<option th:text="#{administracion.candidato.si}" value="si">Si</option>
											<option value="no">No</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group col-sm-10">
										<label for="observacion"
											th:text="#{administracion.candidato.observaciones}">Observaciones
											generales</label>
										<textarea id="observacion" name="observacion"
											th:field="*{observaciones}" class="form-control" rows="3"
											th:placeholder="#{administracion.candidato.eobservacion}"></textarea>

									</div>
								</div>
							</div>
							<button class="btn btn-primary" type="button"
								th:text="#{administracion.candidato.atras}"
								onclick="stepper.previous()">Anterior</button>
							<button type="submit" th:text="#{administracion.candidato.crear}"
								class="btn btn-primary">Crear</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</form>
</th:block>
<th:block layout:fragment="body_end">
	<link rel="stylesheet"
		th:href="@{~/gestion-cmc/plugins/bs-stepper/css/bs-stepper.min.css}">
	<script
		th:src="@{~/gestion-cmc/plugins/bs-stepper/js/bs-stepper.min.js}"></script>
	<script th:src="@{~/gestion-cmc/resources/gestion-cmc/js/candidato.js}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			window.stepper = new Stepper(document.querySelector('.bs-stepper'))
		})
	</script>
</th:block>
</html>

