<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Carga masiva de datos'">
<th:block layout:fragment="content">
<div class="card-body">
                <blockquote>
                  <p>Mediante el siguiente espacio podra descargar el excel con los campos correspondientes,<br> para registrar los datos  y realizar la carga masiva de datos.</p>
                 <a class="btn btn-app" th:href="@{/resources/files/ReglasCargaMasiva.xlsx}" target="_blank" style="max-width: 5px; min-height: 75px">
                 <i class="far fa-file-excel"></i> Descargar Estructura
                </a>
                  <a class="btn btn-app" th:href="@{/resources/files/PlantillaCargaMasiva.xlsx}" style="max-width: 5px; min-height: 75px">
                 <i class="far fa-file-excel"></i> Descargar Plantilla
                </a>
                 <a class="btn btn-app bg-danger" style="max-width: 5px; min-height: 75px" >
                 <i class="fas fa-exclamation-circle"></i> Reporte de errores
                </a>
					<br>
                   <div class="form-group col-6">
                        <label for="exampleInputFile">Carga de datos</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Elige archivo</label>
                          </div>
                          <div class="btn-group-append">
                            <span class="btn btn-primary">Subir</span>
                          </div>
                        </div>
                      </div>
                </blockquote>
              </div>

	</th:block>
</html> 