<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Usuarios'">
<th:block layout:fragment="content">

<a type="button"
	th:href="@{/administracion/usuario/crear}" class="btn btn-primary  ">  Crear Empleado
	</a>

 <table id="tablaUsuario" class="table table-bordered table-hover ">
     	<thead>
        	<tr>
            	<th>Codigo</th>
            	<th>Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th width="70px">Acciones</th>
            </tr>
        </thead>
        <tbody>
         	<tr th:each="empleado : ${listaEmpleados}">
         		<td th:utext="${empleado.idUsuario}">id</td>
         		<td th:utext="${empleado.documento}">documento</td>
         		<td th:utext="${empleado.primerNombre} +' '+ ${empleado.segundoNombre}">nombres</td>
         		<td th:utext="${empleado.primerApellido} +' ' +${empleado.segundoApellido}">allellidos</td>
         		<td th:utext="${empleado.correoElectronico}">correo</td>
         		<td th:utext="${empleado.telefono}">telefono</td>
         		<td>
         			<a type="button"
					th:href="@{/administracion/usuario/modificar/{id}(id=${empleado.idUsuario})}"
					class="btn btn-primary  "> <i class="fas fa-pen"></i>
				</a>
         		</td>
         	</tr>
        </tbody>
     </table> 
     
 </th:block>
 <th:block layout:fragment="body_end">
    <script th:src="@{~/gestion-cmc/resources/gestion-cmc/js/serie.js}"></script>
</th:block>
 </html> 