<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Usuarios'">
<th:block layout:fragment="content">

<a type="button"
	th:href="@{/administracion/usuario/crear}" class="btn btn-primary  ">  Crear Empleado
	</a>

 <table id="tablaUsuario" class="table table-bordered table-hover ">
     	<thead>
        	<tr>
            	<th>Codigo</th>
            	<th>Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Activacaion</th>
                <th width="70px">Acciones</th>
            </tr>
        </thead>
        <tbody>
         	<tr th:each="empleado : ${listaEmpleados}">
         		<td th:utext="${empleado.idUsuario}">id</td>
         		<td th:utext="${empleado.documento}">documento</td>
         		<td th:utext="${empleado.primerNombre} +' '+ ${empleado.segundoNombre}">nombres</td>
         		<td th:utext="${empleado.primerApellido} +' ' +${empleado.segundoApellido}">allellidos</td>
         		<td th:utext="${empleado.correoElectronico}">correo</td>
         		<td th:utext="${empleado.telefono}">telefono</td>
         		<td>
         			<div class="btn-group">
                    <button type="button" class="btn btn-primary" th:text="${empleado.estado.getValue()}"  >Action</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item linkChangeState" th:data-action="ACTIVO" th:data-user="${empleado.idUsuario}" href="#">Activar</a>
                      <a class="dropdown-item linkChangeState" th:data-action="BLOQUEADO" th:data-user="${empleado.idUsuario}" href="#">Bloquear</a>
                      <a class="dropdown-item linkChangeState" th:data-action="RESET" th:data-user="${empleado.idUsuario}" href="#">Reset Password</a>
                    </div>
                  </div>
         		</td>
         		<td>
         			<a type="button"
					th:href="@{/administracion/usuario/modificar/{id}(id=${empleado.idUsuario})}"
					class="btn btn-primary  "> <i class="fas fa-pen"></i>
				</a>
         		</td>
         	</tr>
        </tbody>
     </table> 
     <form id="changeStade" th:action="@{/administracion/usuario/modificar}" method="post" >
     </form>
 </th:block>
 <th:block layout:fragment="body_end">
    <script type="text/javascript">
    $(".linkChangeState").click(function(){
    	  var accion = $(this).attr('data-action');
    	  var idUsuario = $(this).attr('data-user');
    	  var formAction = $("#changeStade").attr('action')+"/"+idUsuario+"/"+accion;
    	  $("#changeStade").attr('action', formAction)
    	  $("#changeStade").submit();
    	});
    </script>
</th:block>
 </html> 