<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Crear Solicitud Personal'">
	
	<th:block layout:fragment="content">
	<form id="formCrearPeticion" 
	    th:object="${solicitud}"
		th:action="${solicitud.idSolicitud == 0} ? @{/administracion/solicitud/crear} : @{/administracion/solicitud/modificar/{id}(id=${solicitud.idSolicitud})}"
	 method="POST">
	
	<div class="card-body p-0">
		<!-- Mensajes -->
		<div layout:replace="~{fragments/formFragment :: mensages}"></div>
		
		<div class="bs-stepper">
			<div class="bs-stepper-header" role="tablist">
				<!-- Definicion paso1 -->
				<div class="step" data-target="#Inf-personal">
					<button type="button" class="step-trigger" role="tab"
						aria-controls="Inf-personal" id="Inf-personal-trigger">
						<span class="bs-stepper-circle">1</span> <span
							class="bs-stepper-label" th:text="#{administracion.peticiones.info}">Informaci&oacute;n b&aacute;sica</span>
					</button>
				</div>
				<div class="line"></div>
				
				<!-- Definicion paso2 -->
				<div class="step" data-target="#perfil">
					<button type="button" class="step-trigger" role="tab"
						aria-controls="perfil" id="perfil-trigger">
						<span class="bs-stepper-circle">2</span> <span
							class="bs-stepper-label" th:text="#{administracion.peticiones.perf}">Perf&iacute;l</span>
					</button>
				</div>
				<div class="line"></div>
				
				<!-- Definicion paso3 -->
				<div class="step" data-target="#inf-cont">
					<button type="button" class="step-trigger" role="tab"
						aria-controls="inf-cont" id="inf-cont-trigger">
						<span class="bs-stepper-circle">3</span> <span
							class="bs-stepper-label" th:text="#{administracion.peticiones.infCon}">Informaci&oacute;n Contratacion</span>
					</button>
				</div>
			</div>
			<div class="bs-stepper-content">
				<!-- Paso 1 -->
				<div id="Inf-personal" class="content" role="tabpanel"
					aria-labelledby="Inf-personal-trigger">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="proyecto" th:text="#{administracion.peticiones.proArea}">Proyecto o &aacute;rea solicitante</label> 
								<select name="proyecto" id="proyecto" th:field="*{areaSolicitante}" 
									class="form-control" style="width: 100%;">
									<option
										th:each="areaSolicitante : ${T(com.cmc.gestion.talento.jpa.type.AreaSolicitante).values()}"
											th:value="${areaSolicitante}" th:text="${areaSolicitante.value}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="cliente" th:text="#{administracion.peticiones.cliente}">Cliente</label> <input type="text"
								th:field="*{cliente}"
								class="form-control" id="cliente" th:placeholder="#{administracion.peticiones.cliente}" name="cliente">
							</div>
							<div class="form-group">
								<label for="resCliente" th:text="#{administracion.peticiones.responsable}">Responsable en cliente</label> <input
									type="text" class="form-control" id="responsableCliente" name="responsableCliente" 
									th:field="*{responsableCliente}"
									th:placeholder="#{administracion.peticiones.responsable}">
							</div>
							<div class="form-group">
								<label th:text="#{administracion.peticiones.tarifa}">Tarifa</label> <select name="tarifa"
									th:field="*{codTarifa}"
									class="form-control" style="width: 100%;">
									<option value="" selected="selected" th:text="#{administracion.peticiones.selec}">Seleccione</option>
									<option th:each="tarifa : ${tarifas}" th:value="${tarifa.id}" th:text="${tarifa.valor}" ></option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="areaTrabajo" th:text="#{administracion.peticiones.areaTra}">&Aacute;rea de trabajo</label> <input
									type="text" class="form-control" id="areaTrabajo" name="areaTrabajo"
									th:field="*{mesaTrabajo}"
									th:placeholder="#{administracion.peticiones.areaTra}">
							</div>
							<div class="form-group">
								<label for="cantVacante" th:text="#{administracion.peticiones.canPer}">Cantidad de personal solicitado para la vacante</label> <input type="text"
								   th:field="*{cantidadVacante}"
									class="form-control" id="cantVacante" name="cantVacante" th:placeholder="#{administracion.peticiones.cant}">
							</div>
							<div class="form-group">
								<label for="horasApagar" th:text="#{administracion.peticiones.numHor}">Numero de horas a pagar a CMC indicadas por el cliente</label> <input
									type="text" class="form-control" id="horasApagar" name="horasApagar"
									th:field="*{horasApagar}"
									th:placeholder="#{administracion.peticiones.horas}">
							</div>
						</div>
					</div>
					
					<button class="btn btn-primary" type="button" onclick="validacionFormularioP()" th:text="#{administracion.peticiones.btnSiguiente}">Siguiente</button>
				</div>
				
				<!-- Paso2 -->
				<div id="perfil" class="content" role="tabpanel"
					aria-labelledby="perfil-trigger">
					<div class="row">
						<div class="col-md-6">
							
							<div class="form-group">
								<label th:text="#{administracion.peticiones.perSol}">Perf&iacute;l Solicitado</label> <select name="perfilSolicitado"
									class="form-control" style="width: 100%;"
									th:field="*{codigoPerfil}" >
									<option th:each="perfil : ${perfiles}" th:value="${perfil.id}" th:text="${perfil.perfil}" ></option>
									
								</select>
							</div>
							<div class="form-group">
								<label th:text="#{administracion.peticiones.especialidad}">Especialidad</label> <select name="especialidad"
									class="form-control" style="width: 100%;"
									th:field="*{codigoEspecialidad}" >
									<option th:each="especialidad : ${especialidades}" th:value="${especialidad.id}" th:text="${especialidad.especialidad}" ></option>
								</select>
							</div>
							<div class="form-group">
								<label for="expMaAnos" th:text="#{administracion.peticiones.expMax}" >Experiencia requerida</label> 
								<select name="expMaAnos" id="proyecto" th:field="*{anoExperienciaMin}" 
									class="form-control" style="width: 100%;">
									<option
										th:each="rango : ${T(com.cmc.gestion.talento.jpa.type.RangoAnoExperiencia).values()}"
											th:value="${rango}" th:text="${rango.value}"></option>
								</select>
							</div>
							<div class="form-group">
								<label th:text="#{administracion.peticiones.perSoli}">El perfil solicitado funcionalmente va a realizar</label> 
								<select name="pSolicitado"
								    th:field="*{codClasePerfil}" 
									class="form-control" style="width: 100%;">
									<option th:each="clasePerfil : ${clasesPerfil}" th:value="${clasePerfil.id}" th:text="${clasePerfil.claseperfil}" ></option>
									
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label th:text="#{administracion.peticiones.ambiente}">Ambiente</label> <select name="ambiente"
									class="select2" style="width: 100%;" 
									th:field="*{codAmbientacion}"
									multiple="multiple" data-placeholder="Select a State" >
									<option th:each="ambientacion : ${ambientaciones}" th:value="${ambientacion.id}" th:text="${ambientacion.ambiente}" ></option>
						
								</select>
							</div>
							<div class="form-group">
								<label th:text="#{administracion.peticiones.escolaridaMin}">Escolaridad m&itilde;nima requeridad</label> 
								<select name="escolaridad" id="proyecto" th:field="*{escolaridad}" 
									class="form-control" style="width: 100%;">
									<option
										th:each="escolaridad : ${T(com.cmc.gestion.talento.jpa.type.NivelEstudios).values()}"
											th:value="${escolaridad}" th:text="${escolaridad.value}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="descripcion" th:text="#{administracion.peticiones.desDetallada}">Descripci&otilde;n detallada del perfil solicitado</label> 
									<textarea class="form-control" 
									th:field="*{descripcionPerfil}"
									rows="3" name="descripcion" th:placeholder="#{administracion.peticiones.descri}"></textarea>
							</div>
							
						</div>
					</div>

                    <button class="btn btn-primary mb-3px" type="button" onclick="stepper.previous()" th:text="#{administracion.peticiones.btnAnterior}">Anterior</button>
					<button class="btn btn-primary"  type="button" onclick="validacionFormularioP()" th:text="#{administracion.peticiones.btnSiguiente}">Siguiente</button>
				</div>
				
				<!-- Paso 3 -->
				<div id="inf-cont" class="content" role="tabpanel"
					aria-labelledby="inf-cont-trigger">
					<div class="row">
						<div class="col-md-6">
							
							<div class="form-group">
								<label th:text="#{administracion.peticiones.tipoContra}">Tipo Contrato</label> 
								<select name="tipoContrato" id="tipoContrato" th:field="*{tipoContrato}" 
									class="form-control" style="width: 100%;">
									<option
										th:each="tipoContrato : ${T(com.cmc.gestion.talento.jpa.type.TipoContrato).values()}"
											th:value="${tipoContrato}" th:text="${tipoContrato.value}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="fecha" th:text="#{administracion.peticiones.fechaIni}">Fecha esperada de inicio de labores</label> <input
									th:field="*{fechaInicio}"
									type="date" class="form-control" id="fecha" name="fecha"
									th:placeholder="#{administracion.peticiones.fec}">
							</div>
							<div class="form-group">
								<label for="observaciones" th:text="#{administracion.peticiones.obsGener}">Observaciones generales para tener encuenta</label> 
									<textarea class="form-control"
									th:field="*{observacionSolicitante}"
									 name="observaciones" rows="3" th:placeholder="#{administracion.peticiones.observaciones}"></textarea>
							</div>
							
						</div>
						<div class="col-md-6">
						    <div class="form-group">
								<label for="salario" th:text="#{administracion.peticiones.salAsig}">Salario Asignado</label> <input
									type="text" class="form-control" id="salario" name="salario"
									th:field="*{salarioAsignado}"
									th:placeholder="#{administracion.peticiones.salAsig}">
							</div>
							<div class="form-group">
								<label th:text="#{administracion.peticiones.reqEquipo}">Requiere equipo de computo</label> 
								<select name="equipoCom" id="equipoCom" th:field="*{equipoComputo}" 
									class="form-control" style="width: 100%;">
									<option
										th:each="computo : ${T(com.cmc.gestion.talento.jpa.type.EquipoComputo).values()}"
											th:value="${computo}" th:text="${computo.value}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="caracteristica" th:text="#{administracion.peticiones.carSoft}">Caracteristica del software Y hadware del equipo</label> 
									<textarea class="form-control"
									th:field="*{caracteriSoftware}"  
									rows="3" name="caracteristica" th:placeholder="#{administracion.peticiones.caracteristicas}"></textarea>
							</div>
							
						</div>
					</div>
					<button class="btn btn-primary" type="button" onclick="stepper.previous()" th:text="#{administracion.peticiones.btnAnterior}">Anterior</button>
					<button type="submit" class="btn btn-primary" th:text="#{administracion.peticiones.btnCrear}">Crear</button>
				</div>
			</div>
		</div>
	</div>
</form>
</th:block>
<th:block layout:fragment="body_end">
	
	<link rel="stylesheet"
		th:href="@{~/gestion-cmc/plugins/bs-stepper/css/bs-stepper.min.css}">
	<script
		th:src="@{~/gestion-cmc/plugins/bs-stepper/js/bs-stepper.min.js}"></script>
		<script
		th:src="@{~/gestion-cmc/resources/gestion-cmc/js/peticiones.js}"></script>
	<script>
	   document.addEventListener('DOMContentLoaded', function () {
	       window.stepper = new Stepper(document.querySelector('.bs-stepper'))
	    })
	    
	     //Initialize Select2 Elements
    $('.select2').select2()
	</script>
</th:block>
</html>