<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Detalle Solicitud '">

<th:block layout:fragment="content">
	<section class="content">
		<div class="container-fluid">
			<div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                  <i class="fas fa-id-card"></i> Solicitud de personal 
                    <small class="float-right" >Fecha: <span th:text="${#dates.format(solicitud.fechaCreacion, 'dd-MMM-yyyy')}">2/10/2014</span> </small>
                  </h4>
                </div>
                <!-- /.col -->
              </div><br>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <h5>Informaci&oacute;n b&aacute;sica</h5>
                  <br>
                  <b>&Aacute;rea solicitante:</b> <span th:text="${solicitud.areaSolicitante.value}"></span><br>
                  <b>&Aacute;rea de trabajo:</b> <span th:text="${solicitud.mesaTrabajo}"></span><br>
                  <b>Cliente:</b><span th:text="${solicitud.cliente}"></span><br>
                  <b>Responsable cliente:</b> <span th:text="${solicitud.responsableCliente}"></span><br>
                  <b>Cantidad de Personal:</b> <span th:text="${solicitud.cantidadVacante}"></span><br>
                  <b>N&uacute;meros de horas a pagar:</b> <span th:text="${solicitud.horasApagar}"></span><br>       
                  <b>Tarifa:</b> <span th:text="${solicitud.tarifa.valor}"></span><br>
                  <b>Observaciones generales:</b> 
                  <p  style="text-align: justify;" th:text="${solicitud.observacionSolicitante}">
                   
                  </p><br>
                </div>
                <!-- /.col -->
                
                <div class="col-sm-4 invoice-col">
                  <h5>Perf&iacute;l</h5>
                  <br>
                  <b>Perf&iacute;l solicitado:</b> <span th:text="${solicitud.perfil.nombre}"></span> <br>
                  <b>Especialidad:</b> <span th:text="${solicitud.especialidad.especialidad}"></span><br>
                  <b>Experencia requerida:</b> <span th:text="${solicitud.anoExperienciaMin.value}"></span><br>
                  <b>El perf&iacute;l solicitado funcionalmente:</b> <span th:text="${solicitud.clasePerfil.claseperfil}"></span><br>
                  <b>Ambiente:</b> <span ></span><br>
                  <b>Escolaridad m&iacute;nima:</b> <span th:text="${solicitud.escolaridad.value}"></span><br>
                  <b>Descripci&oacute;n del perfil:</b>
                  <p  style="text-align: justify;" th:text="${solicitud.descripcionPerfil}" > 
                  </p><br>
                </div>
                <!-- /.col -->
           		 <div class="col-sm-4 invoice-col">
                  <h5>Informaci&oacute;n contrataci&oacute;n</h5>
                  <br>
                  <b>Tipo contrato:</b> <span th:text="${solicitud.tipoContrato.value}"></span> <br>
                  <b>Salario asignado:</b> <span th:text="${solicitud.salarioAsignado}"></span> <br>
                  <b>Fecha inicio de labores:</b> <span th:text="${#dates.format(solicitud.fechaInicio, 'dd-MMM-yyyy')}"> </span><br>
                  <b>Equipo de computo:</b> <span th:text="${solicitud.equipoComputo.value}"></span><br>
                  <b>Caracteristica del software y hadware del equipo:</b> 
                  <p  style="text-align: justify;"th:text="${solicitud.caracteriSoftware}" >
                  </p>
                </div>
              </div>
              <!-- /.row -->
              
				<br>
              <div class="row">
                <div class="col-12">
                  <a type="button" class="btn btn-primary float-right" th:href="@{/administracion/solicitud}"> Regresar
                  </a>
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;" sec:authorize="hasAnyAuthority('GERENTE_RRHH','ANALISTA_PRINCIPAL_RRHH')">
                   Asignar
                  </button>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div>
		</div>
	</section>
</th:block>
<th:block layout:fragment="body_end">

</th:block>
</html>