<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Curriculun vitae'">
<th:block layout:fragment="content">
	<form id="formDatosBasicos" action="" method="POST">
	
	<div class="row">
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title" th:text="#{curriculum.datos.datos}">Datos basicos</h3>
              </div>
              <div class="card-body p-0">
                <div class="bs-stepper">
                  <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#basico">
                      <button type="button" class="step-trigger" role="tab" aria-controls="basico" id="basico-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label"  th:text="#{curriculum.datos.datos}">Datos basicos</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label" th:text="#{curriculum.datos.otro}">Informacion Profesional</span>
                      </button>
                    </div>
                  </div>
                  <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="basico" class="content" role="tabpanel" aria-labelledby="basico-trigger">
                    <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label  th:text="#{curriculum.datos.tipo}" >Tipo documento</label>
                        <input class="form-control" type="text" placeholder="Enter ..." id="tpDoc" name="tpDoc"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.documento}">Documento</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.idocumento}" id="Doc" name="Doc"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.fecha}">Fecha de expedicion</label>
                        <input class="form-control" type="date" placeholder="Enter ..." id="fechaExp" name="fechaExp"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.lugar}">Lugar de expedicion</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.ilugar}" id="lugarExp" name="lugarExp"></input>
                      </div>
                    </div>
                  </div>
                    <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.pnom}">Primer nombre</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.ipnom}" id="pNombre" name="pNombre"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.snom}">Segundo nombre</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.isnom}"  id="sNombre" name="sNombre"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.pape}">Primer apellido</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.ipape}" id="pApellido" name="pApellido"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.sape}">Segundo apellido</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.isape}" id="sApellido" name="sApellido"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.nacimiento}" >Lugar de nacimiento</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.inacimiento}" id="lugarNac" name="lugarNac"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.fnacimiento}">Fecha de nacimiento</label>
                        <input type="date" class="form-control"  placeholder="Enter ..." id="fechaNac" name="fechaNac"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.telefono}">Telefono</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.itelefono}" id="tel" name="tel"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.correo}">Correo Electronico</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.icorreo}" id="correo" name="correo" ></input>
                      </div>
                    </div>
                  </div>
                  
                      
                      <button class="btn btn-primary" th:text="#{curriculum.datos.siguiente}" onclick="validacionFormularioDB()">Next</button>
                    </div>
                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                      
                      <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.direccion}">Direccion domicilio</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.idireccion}" id="direccionDom" name="direccionDom"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.barrio}">Barrio</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.ibarrio}" id="barrio" name="barrio"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.localidad}">Localidad</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.ilocalidad}" id="localidad" name="localidad"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.estadoc}">Estado civil</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.iestadoc}" id="estadoCiv" name="estadoCiv"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.nhijos}">Numero de hijos</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.inhijos}" id="numeroHijos" name="numeroHijos"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.estudios}">Nivel de estudios</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.iestudios}" id="nivelEst" name="nivelEst" ></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label>EPS</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.eps}" id="fecha" name="fecha"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.cesantias}">Cesantias</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.icesantias}" id="cesantias" name="cesantias"></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.datos.afp}">AFP(Pensiones)</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.datos.iaft}" id="afp" name="afp"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>RH</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.datos.rh}" id="rh" name="rh"></input>
                      </div>
                    </div>
                  </div>    
                      
                      
                      <button class="btn btn-primary" th:text="#{curriculum.datos.atras}" onclick="stepper.previous()">Previous</button>
                     <button type="submit" th:text="#{curriculum.datos.guardar}" class="btn btn-primary">Submit</button>

                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              
            </div>
            <!-- /.card -->
          </div>
        </div>
 		
 	</form>
</th:block>
<th:block layout:fragment="body_end">
       <script th:src="@{~/gestion-cmc/resources/gestion-cmc/js/datosBasicos.js}"></script>
   	<link rel="stylesheet"
		th:href="@{~/gestion-cmc/plugins/bs-stepper/css/bs-stepper.min.css}">
	<script
		th:src="@{~/gestion-cmc/plugins/bs-stepper/js/bs-stepper.min.js}"></script>
        
	
	<!-- Font Awesome -->
  <link rel="stylesheet"
   href="@{~/gestion-cmc/plugins/fontawesome/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet"
   href="@{~/gestion-cmc/adminl-lte/css/adminlte.min.css">
	
<!-- jQuery -->	
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/demo.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			window.stepper = new Stepper(document.querySelector('.bs-stepper'))
		})
	</script>
</th:block>
</html>