<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Curriculun vitae'">
<th:block layout:fragment="content">

	<!--formulario -->
                    <form id="formExperiencia" action="" method="POST">
                    <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.exp.empresa}">Empresa</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.exp.iempresa}"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.exp.rol}">Rol</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.exp.irol}" ></input>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.exp.duracion}">Duracion</label>
                        <input class="form-control" type="text" th:placeholder="#{curriculum.exp.iduracion}"></input>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label th:text="#{curriculum.exp.funcion}">Funciones</label>
                        <input type="text" class="form-control"  th:placeholder="#{curriculum.exp.ifuncion}" ></input>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <h5 th:text="#{curriculum.exp.entorno}"><b>Entorno/Herramientas/Tecnologias</b></h5>
                  <br>
                    <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                        <label th:text="#{curriculum.exp.lenguajes}">Lenguajes</label>
                        <textarea class="form-control"  th:placeholder="#{curriculum.exp.ilenguajes}"></textarea>
                      </div>
                    
                 
                   
                  </div>
                  </div>
                  <button type="submit" th:text="#{curriculum.exp.guardar}" class="btn btn-primary">Submit</button>
                    
                      </form>
                     <br></br>
                     
                     <!-- Tabla -->
                    
              <table id="tablaExperiencia" class="table table-bordered table-hover ">
     	<thead>
        	<tr>
            	<th th:text="#{curriculum.exp.empresa}">Empresa</th>
            	<th th:text="#{curriculum.exp.rol}">Rol</th>
            	<th th:text="#{curriculum.exp.duracion}">Duracion</th>
                <th th:text="#{curriculum.exp.funcion}">Funciones</th>
                <th th:text="#{curriculum.exp.lenguajes}">Lenguajes</th>
                <th th:text="#{administracion.ambientacion.accion}"width="70px">Acciones</th>
            </tr>
        </thead>
     </table> 
     
     
              <!-- /.card-body -->
              
            




</th:block>
<th:block layout:fragment="body_end">
      
        
	
	<!-- Font Awesome -->
  <link rel="stylesheet"
   href="@{~/gestion-cmc/plugins/fontawesome/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet"
   href="@{~/gestion-cmc/adminl-lte/css/adminlte.min.css">
	
	 <script th:src="@{~/gestion-cmc/resources/gestion-cmc/js/ambiente.js}"></script>
   	<link rel="stylesheet"
		th:href="@{~/gestion-cmc/plugins/bs-stepper/css/bs-stepper.min.css}">
	<script
		th:src="@{~/gestion-cmc/plugins/bs-stepper/js/bs-stepper.min.js}"></script>
        
	
	<!-- Font Awesome -->
  <link rel="stylesheet"
   href="@{~/gestion-cmc/plugins/fontawesome/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet"
   href="@{~/gestion-cmc/adminl-lte/css/adminlte.min.css">
	
<!-- jQuery -->	
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="@{~/gestion-cmc/plugins/bs-stepper/js/demo.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			window.stepper = new Stepper(document.querySelector('.bs-stepper'))
		})
	</script>
   
</th:block>
</html>