<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Dise&ntilde;o de pruebas'">
<th:block layout:fragment="content">
	<!-- Mensajes -->
	<div th:if="${mensaje != 'NOK'}"
		class="alert alert-success alert-dismissible">
		<button type="button" class="close"
			onclick="closeAlert('alert-success')" aria-hidden="true">x</button>
		<i class="icon fas fa-check"></i> Ok! <span class="msg2"
			th:text="${mensaje}"></span>
	</div>
	

	<!-- Formulario de creacion -->
	<form th:object="${prueba}"
		th:action="${prueba.idPrueba == 0} ? @{/administracion/pruebas/crear} : @{/administracion/pruebas/modificar/{id}(id=${prueba.idPrueba})}"
		method="post">
		<div th:if="${#fields.hasErrors('*')}"
		class="alert alert-danger alert-dismissible">
		<button type="button" class="close"
			onclick="closeAlert('alert-danger')" aria-hidden="true">&times;</button>
		<i class="icon fas fa-ban"></i> Error!
		<ul style="margin-top: 0px; margin-bottom: 0px;">
			<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
		</ul>
	</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group col-md-10">
					<label for="exampleInputEmail1">Nombre</label> <input type="text"
						class="form-control " id="nombreCrear"
						placeholder="Ingrese nombre" th:field="*{nombre}">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group col-md-10">
					<label for="exampleInputEmail1">Tipo prueba</label> <select
						class="form-control" id="tipPrueb" th:field="*{tipoPrueba}">
						<option value="">Seleccione</option>
						<option
							th:each="tipoprue : ${T(com.cmc.gestion.talento.jpa.type.TipoPrueba).values()}"
							th:value="${tipoprue}" th:text="${tipoprue.value}"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group col-md-12">
					<label for="exampleInputEmail1">Descripci&oacute;n</label>
					<textarea class="form-control" id="descCrear" rows="3"
						th:field="*{descripcion}" placeholder="Escribir ..."></textarea>
				</div>
			</div>
		</div>
		<div layout:fragment="modal-footer">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</form>


	<!-- Tabla dr datos -->
	<table id="tablaPrueba" class="table table-bordered table-hover mt-3">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Tipo prueba</th>
				<th>Fecha creacion</th>
				<th>Descripci&oacute;n</th>
				<th width="150px">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prueba : ${listaprueba}">
				<td th:utext="${prueba.nombre}"></td>
				<td th:utext="${prueba.tipoPrueba.value}"></td>
				<td th:text="${#dates.format(prueba.fechaCreacion, 'dd-MMM-yyyy')}"></td>
				<td th:utext="${prueba.descripcion}"></td>

				<td>
					<button type="button" data-id="2"
						th:onclick="|openModal('${prueba.idPrueba}')|"
						class="btn btn-primary  ">
						<i class="fas fa-trash-alt"></i>
					</button> <a type="button"
					th:href="@{/administracion/pruebas/{id}(id=${prueba.idPrueba})}"
					class="btn btn-primary  "> <i class="fas fa-pen"></i>
				</a> <a type="button" th:href="@{/administracion/preguntas}"
					class="btn btn-primary  "> <i class="fas fa-eye"></i>
				</a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Eliminacion de Prueba -->
	<div
		layout:replace="~{fragments/modal :: modalConfim(id='confirmDelete')}">

		<div layout:fragment="modal-footer">
			<form id="eliminar" action="" method="post">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-primary">Eliminar</button>
			</form>
		</div>

	</div>

</th:block>
<th:block layout:fragment="body_end">
	<script type="text/javascript">
         function openModal(id){
        	 $('#confirmDelete').modal('show');
        	 $("#eliminar").attr("action", '../administracion/pruebas/eliminar/'+id);
         }
         
         $('#tablaPrueba').DataTable({
             "paging": true,
             "lengthChange": false,
             "searching": false,
             "ordering": true,
             "info": true,
             "autoWidth": false,
             "responsive": true,
           });
    </script>
</th:block>
</html>