<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Series'">
<th:block layout:fragment="content">

 <table id="tablaSerie" class="table table-bordered table-hover ">
     	<thead>
        	<tr>
            	<th>Id</th>
                <th>Nombre</th>
                <th>Descripci&oacute;n</th>
                <th>Estado</th>
                <th width="70px">Acciones</th>
            </tr>
        </thead>
     </table> 
       <!-- Formulario de creacion -->
      <div layout:replace="~{fragments/modal :: modalDf(titulo='Crear Serie' , id='modCrear')}">
         <div  layout:fragment="modal-content">
              <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" id="nombreCrear" placeholder="Ingrese nombre">
                  <label for="exampleInputEmail1">Descripci&oacute;n</label>
                  <textarea class="form-control" id="descCrear" rows="3" placeholder="Escribir ..."></textarea>
                  
              </div>
         </div>
         <div  layout:fragment="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" onclick="crearSerie()"  >Guardar</button>
         </div>
      </div>
       <!-- Modificacion de Serie -->
      <div layout:replace="~{fragments/modal :: modalDf(titulo='Modificar Serie' , id='modModificar')}">
         <div  layout:fragment="modal-content">
              <div class="form-group">
                  <label for="exampleInputEmail1">Id Serie</label>
                  <input type="text" class="form-control" id="idMod" disabled>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" id="nomMod" placeholder="Ingrese nombre">
                   <div class="form-group">
                   <label>Estado</label>
                        <select class="form-control" id="estMod">
                          <option value="ACTIVO">Activo</option>
                          <option value="DESACTIVO">Desactivo</option>
                        </select>
                        </div>
                   <label for="exampleInputEmail1">Descripci&oacute;n</label>
                  <textarea class="form-control" id="descMod" rows="3" placeholder="Escribir ..."></textarea>
              </div>
         </div>
         <div  layout:fragment="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" onclick="modificarSerie()">Guardar</button>
         </div>
      </div>
      
      <!-- Eliminacion de Serie -->
      <div layout:replace="~{fragments/modal :: modalConfim(id='confirmDelete')}" >
      	<div  layout:fragment="modal-footer">
      	     <input type="hidden" id="idSerie">
      		 <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
             <button type="button" class="btn btn-primary"  onclick="eliminarSerie()" >Eliminar</button>
      	</div>
      </div>
     
 </th:block>
 <th:block layout:fragment="body_end">
    <script th:src="@{~/gestion-cmc/resources/gestion-cmc/js/serie.js}"></script>
</th:block>
 </html>     