<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Series'">
<th:block layout:fragment="content">

 <table id="tablaSerie" class="table table-bordered table-hover ">
     	<thead>
        	<tr>
            	<th>Id</th>
                <th>nombre</th>
                <th>Descripci&oacute;n</th>
                <th width="70px">Acciones</th>
            </tr>
        </thead>
     </table> 
     
 </th:block>
 <th:block layout:fragment="body_end">
    <script th:src="@{~/gestion-cmc/resources/gestion-cmc/js/serie.js}"></script>
</th:block>
 </html>     