<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	layout:decorate="~{layout}"
	th:with="funcionalidad='Administraci&oacuten', evento='Subseries'">
<th:block layout:fragment="content">


 <table id="tablaSubserie" class="table table-bordered table-hover ">
     	<thead>
        	<tr>
            	<th>Id</th>
                <th>nombre</th>
                <th>Descripci&oacute;n</th>
                <th>Proceso</th>
                <th>Procedimiento</th>
                <th>Archivo gesti&oacute;n</th>
                <th>Archivo central</th>
                <th>Serie</th>
                <th width="70px">Acciones</th>
            </tr>
        </thead>
     </table>
      <!-- Formulario de creacion -->
      <div layout:replace="~{fragments/modal :: modalDf(titulo='Crear Subserie' , id='modCrear')}">
         <div  layout:fragment="modal-content">
              <div class="form-group">
              		<div class="row">
              		<div class="col-sm-6">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" id="nombreCrear" placeholder="Ingrese nombre">
                  </div>
                  <div class="col-sm-6">
                  <label for="exampleInputEmail1">Proceso</label>
                  <input type="text" class="form-control" id="procCrear" placeholder="Ingrese proceso">
                  </div>
                  </div>
                  <div class="row">
              		<div class="col-sm-6">
                  <label for="exampleInputEmail1">Archivo gesti&oacute;n</label>
                  <input type="number" class="form-control" id="arcgesCrear" placeholder="Ingrese archivo gesti&oacute;n">
                  </div>
                  <div class="col-sm-6">
                  <label for="exampleInputEmail1">Archivo central</label>
                  <input type="number" class="form-control" id="arccenCrear" placeholder="Ingrese archivo central">
                   </div>
                   </div>
			      <label for="exampleInputEmail1">Serie</label>
			      <div class="form-group">
			      <select class="form-control" id="seriCrear">
			    	<option th:each="serie : ${liataSerire}" th:value="${serie.id}" th:text="${serie.nombre}">
			    	</option>
				  </select>
				  </div>
                  <label for="exampleInputEmail1">Descripci&oacute;n</label>
                  <textarea class="form-control" id="descCrear" rows="3" placeholder="Escribir ..."></textarea>
                  <label for="exampleInputEmail1">Procedimiento</label>
                  <textarea class="form-control" id="procediCrear" rows="3" placeholder="Escribir ..."></textarea>
              </div>
         </div>
         <div  layout:fragment="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" onclick="crearSubserie()"  >Guardar</button>
         </div>
      </div> 
       <!-- Modificacion de Serie -->
      <div layout:replace="~{fragments/modal :: modalDf(titulo='Modificar Subserie' , id='modModificar')}">
         <div  layout:fragment="modal-content">
              <div class="form-group">
                  <label for="exampleInputEmail1">Id Sub serie</label>
                  <input type="text" class="form-control" id="idMod" disabled>
              </div>
              <div class="form-group">
              		<div class="row">
              		<div class="col-sm-6">
                    <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" id="nombreMod" placeholder="Ingrese nombre">
                  </div>
                  <div class="col-sm-6">
                  <label for="exampleInputEmail1">Proceso</label>
                  <input type="text" class="form-control" id="procMod" placeholder="Ingrese proceso">
                  </div>
                  </div>
                  <div class="row">
              	  <div class="col-sm-6">
                  <label for="exampleInputEmail1">Archivo gesti&oacute;n</label>
                  <input type="number" class="form-control" id="arcgesMod" placeholder="Ingrese archivo gesti&oacute;n">
                  </div>
                  <div class="col-sm-6">
                  <label for="exampleInputEmail1">Archivo central</label>
                  <input type="number" class="form-control" id="arccenMod" placeholder="Ingrese archivo central">
                  </div>
                  </div>
			      <label for="exampleInputEmail1">Serie</label>
			      <div class="form-group">
			      <select class="form-control" id="seriMod">
			    	<option th:each="serie : ${liataSerire}" th:value="${serie.id}" th:text="${serie.nombre}">
			    	</option>
				  </select>
				  </div>
                  <label for="exampleInputEmail1">Descripci&oacute;n</label>
                  <textarea class="form-control" id="descMod" rows="3" placeholder="Escribir ..."></textarea>
                  <label for="exampleInputEmail1">Procedimiento</label>
                  <textarea class="form-control" id="procediMod" rows="3" placeholder="Escribir ..."></textarea>
         </div>
         <div  layout:fragment="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" onclick="modificarSubserie()">Guardar</button>
         </div>
      </div>
      </div>
       <!-- Eliminacion de SubSerie -->
      <div layout:replace="~{fragments/modal :: modalConfim(id='confirmDelete')}" >
      	<div  layout:fragment="modal-footer">
      	     <input type="hidden" id="idSubserie">
      		 <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
             <button type="button" class="btn btn-primary"  onclick="eliminarSubserie()" >Eliminar</button>
      	</div>
      </div>
     
</th:block>
 <th:block layout:fragment="body_end">
    <script th:src="@{~/gestion-cmc/resources/gestion-cmc/js/subserie.js}"></script>
</th:block>
 </html>    