<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Confirmacion Contrasena</title>
  <link rel="stylesheet" th:href="@{/resources/gestion-cmc/css/main.css}">
  <link rel="stylesheet" th:href="@{/resources/gestion-cmc/css/style.css}">
  <link rel="stylesheet" th:href="@{/resources/plugins/fontawesome/css/all.min.css}">
  
</head>
<body class="c-app flex-row align-items-center">
<form  th:action="@{/perform_login}" method="post" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-2">
              <div class="card-body">
                <h3>Confirmaci&oacute;n de Contrasena</h3>
                <p class="text-muted">Escribe tu nueva contrasena</p>
				<!-- inicio de inputs -->
	               <label>Usuario</label>
                  <div class="input-group mb-3">
                  <div class="input-group-prepend"> <div class="input-group-text">
             		 <span class="far fa-user"></span>
           			 </div>
           			 </div>
                  <input class="form-control" type="text" name="username" placeholder="Usuario">
                </div>
                <label>Contrasena actual</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                   <div class="input-group-prepend"> <div class="input-group-text">
             		 <span class="fas fa-lock"></span>
           			 </div>
           			 </div>
                  </div>
                  <input class="form-control" type="password" name="password"  placeholder="Contraseña">
                </div>
          
                <div class="row">
                  <div class="col-6">
                  <label>Nueva contrasena</label>
                    <div class="input-group mb-4">
                  <div class="input-group-prepend">
                   <div class="input-group-prepend"> <div class="input-group-text">
             		 <span class="fas fa-lock"></span>
           			 </div>
           			 </div>
                  </div>
                  <input class="form-control" type="password" name="passwordnue"  >
                </div>
                  </div>
                   <div class="col-6">
                   <label>Confirme Contrasena</label>
                     <div class="input-group mb-4">
                  <div class="input-group-prepend">
                   <div class="input-group-prepend"> <div class="input-group-text">
             		 <span class="fas fa-lock"></span>
           			 </div>
           			 </div>
                  </div>
                  <input class="form-control" type="password" name="passwordconfi" >
                </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-6">
                  </div>
                  <div class="col-6 text-right">
                     <button class="btn btn-primary px-4" type="submit">Guardar</button>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="card text-white py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <img th:src="@{/resources/gestion-cmc/img/Fondo2.png}"  style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       </form>
  </body>
</html>