<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <link rel="shortcut icon" th:href="@{resources/gestion-cmc/img/icono.png}">
<title>Confirmacion Contrase&ntilde;a</title>
<link rel="stylesheet" th:href="@{/resources/gestion-cmc/css/main.css}">
<link rel="stylesheet" th:href="@{/resources/gestion-cmc/css/style.css}">
<link rel="stylesheet"
	th:href="@{/resources/plugins/fontawesome/css/all.min.css}">

</head>
<body class="c-app flex-row align-items-center">
	<form th:action="@{/public/confirmacionContrasena}" method="post"
		th:object="${empleado}">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="card-group">
						<div class="card p-2">
							<div class="card-body">
								<h3>Confirmaci&oacute;n de Contrase&ntilde;a</h3>
								<p class="text-muted">Escribe tu nueva contrase&ntilde;a</p>
								<!-- Mensaje de error -->
								<div th:if="${#fields.hasErrors('*')}"
									class="alert alert-danger alert-dismissible">
									<button type="button" class="close"
										onclick="closeAlert('alert-danger')" aria-hidden="true">&times;</button>
									<i class="icon fas fa-ban"></i> Error!
									<ul style="margin-top: 0px; margin-bottom: 0px;">
										<li th:each="error : ${#fields.errors('*')}"
											th:text="${error}"></li>
									</ul>
								</div>
								<!-- inicio de inputs -->
								<label>Usuario</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<span class="far fa-user"></span>
										</div>
									</div>
									<input class="form-control" type="text" name="username"  th:field="*{usuario}"
										placeholder="Usuario">
								</div>
								<label>Contrase&ntilde;a actual</label>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<span class="fas fa-lock"></span>
											</div>
										</div>
									</div>
									<input class="form-control" type="password" name="password"  th:field="*{oldPassword}"
										placeholder="Contraseña">
								</div>

								<div class="row">
									<div class="col-6">
										<label>Nueva contrase&ntilde;a</label>
										<div class="input-group mb-4">
											<div class="input-group-prepend">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<span class="fas fa-lock"></span>
													</div>
												</div>
											</div>
											<input class="form-control" type="password"    th:field="*{newPassword}"
												name="passwordnue">
										</div>
									</div>
									<div class="col-6">
										<label>Confirme Contrase&ntilde;a</label>
										<div class="input-group mb-4">
											<div class="input-group-prepend">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<span class="fas fa-lock"></span>
													</div>
												</div>
											</div>
											<input class="form-control" type="password"  th:field="*{confirmNewPassword}"
												name="passwordconfi">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6"></div>
									<div class="col-6 text-right">
										<button class="btn btn-primary px-4" type="submit">Guardar</button>
									</div>
								</div>

							</div>
						</div>
						<div class="card text-white py-5 d-md-down-none"
							style="width: 44%">
							<div class="card-body text-center">
								<img th:src="@{/resources/gestion-cmc/img/Fondo2.png}"
									style="width: 100%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>